NB_WEB_BASE_URL=http://127.0.0.1:9091
NB_WEB_AGENT_TOKEN=
NB_WEB_WORKER_REGISTRY=../tools/private/nb-web-worker.json
NB_WEB_WORKER_POLL_SECONDS=2
NB_WEB_WORKER_HEARTBEAT_SECONDS=10
NB_WEB_WORKER_OPERATION_TIMEOUT_SECONDS=2700

